$aquamarine: #7FFFD4;
$baltic-sea: #2D2B30;
$aqua: #00f8fb;
$persimmon: #ff6347;
$green-waterloo: #1a2309;
$appricot-white: #fffeeb;

$background-color: $baltic-sea;
$banner-color: $appricot-white;
$text-color-main: $aquamarine;
$text-color-secondary: $persimmon;
$text-color-hover: $aqua;
$text-color-header: $green-waterloo;

$break-medium: 768px;
$break-large: 960px;